@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: CalSans;
  --font-sans: Inter;
}

/**
 * @see https://tailwindcss.com/docs/font-family#customizing-your-theme
 */
@layer base {
  @font-face {
    font-family: CalSans;
    src: url(/fonts/CalSans-SemiBold.ttf);
    src: url(/fonts/CalSans-SemiBold.woff);
    src: url(/fonts/CalSans-SemiBold.woff2);
  }

  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter.ttf);
  }

  @font-face {
    font-family: Inter;
    font-weight: bold;
    src: url(/fonts/Inter-Bold.ttf);
  }
}
